<div class="search search-up">
    <input class="search-bar" placeholder="Введите ключевые слова для поиска"/>
    <button class="search-button">Найти</button>
</div>

<div class="card-list">
<div class="card-row">
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="card-row">
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <div class="cardqa">
        <p class="cardqa-question">Добрый день!
            Подскажите пожалуйста, откуда нужно вытаскивать нужные данные для запросов с типом документа 200, 205 и 270, по всем ГП, ВП и КПМ?</p>
        <div class="cardqa-line"></div>
        <p class="cardqa-answer">Попробовал сейчас на типе 200, по всем ГП возвращается ответ - "Не найдены данные по заданным параметрам запроса"
            Пример запроса 086940d4-7f75-11ed-8b2d-321c4c0e7927</p>
        <div class="cardqa-buttons">
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_313)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.709 16.7769L16.4189 18.9229L15.4668 19.8018L12.8008 17.6851L13.709 16.7769ZM16.3823 12.3311V13.0049C16.3823 13.8057 16.2822 14.5234 16.082 15.1582C15.8818 15.793 15.5938 16.3325 15.2178 16.7769C14.8418 17.2212 14.3901 17.5605 13.8628 17.7949C13.3403 18.0293 12.7544 18.1465 12.105 18.1465C11.4751 18.1465 10.8965 18.0293 10.3691 17.7949C9.84668 17.5605 9.39258 17.2212 9.00684 16.7769C8.62598 16.3325 8.33057 15.793 8.12061 15.1582C7.91064 14.5234 7.80566 13.8057 7.80566 13.0049V12.3311C7.80566 11.5303 7.9082 10.8149 8.11328 10.1851C8.32324 9.55029 8.61865 9.01074 8.99951 8.56641C9.38037 8.11719 9.83203 7.77539 10.3545 7.54102C10.8818 7.30664 11.4604 7.18945 12.0903 7.18945C12.7397 7.18945 13.3281 7.30664 13.8555 7.54102C14.3828 7.77539 14.8345 8.11719 15.2104 8.56641C15.5864 9.01074 15.8745 9.55029 16.0747 10.1851C16.2798 10.8149 16.3823 11.5303 16.3823 12.3311ZM14.9834 13.0049V12.3164C14.9834 11.6816 14.9175 11.1201 14.7856 10.6318C14.6587 10.1436 14.4707 9.7334 14.2217 9.40137C13.9727 9.06934 13.6699 8.81787 13.3135 8.64697C12.957 8.47607 12.5493 8.39062 12.0903 8.39062C11.6558 8.39062 11.2603 8.47607 10.9038 8.64697C10.5522 8.81787 10.2495 9.06934 9.99561 9.40137C9.7417 9.7334 9.54639 10.1436 9.40967 10.6318C9.27295 11.1201 9.20459 11.6816 9.20459 12.3164V13.0049C9.20459 13.6445 9.27295 14.2109 9.40967 14.7041C9.54639 15.1924 9.7417 15.605 9.99561 15.9419C10.2544 16.2739 10.562 16.5254 10.9185 16.6963C11.2749 16.8672 11.6704 16.9526 12.105 16.9526C12.564 16.9526 12.9717 16.8672 13.3281 16.6963C13.6846 16.5254 13.9849 16.2739 14.229 15.9419C14.478 15.605 14.666 15.1924 14.793 14.7041C14.9199 14.2109 14.9834 13.6445 14.9834 13.0049Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_313">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <a class="cardqa-href">Развернуть</a>
            <button class="cardqa-button">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_46_316)">
                        <path d="M5.46875 3.125C5.26155 3.125 5.06284 3.20731 4.91632 3.35382C4.76981 3.50034 4.6875 3.69905 4.6875 3.90625V22.6562C4.6875 22.8635 4.76981 23.0622 4.91632 23.2087C5.06284 23.3552 5.26155 23.4375 5.46875 23.4375H19.5312C19.7385 23.4375 19.9372 23.3552 20.0837 23.2087C20.2302 23.0622 20.3125 22.8635 20.3125 22.6562V3.90625C20.3125 3.69905 20.2302 3.50034 20.0837 3.35382C19.9372 3.20731 19.7385 3.125 19.5312 3.125H18.75C18.5428 3.125 18.3441 3.04269 18.1976 2.89618C18.0511 2.74966 17.9688 2.55095 17.9688 2.34375C17.9688 2.13655 18.0511 1.93784 18.1976 1.79132C18.3441 1.64481 18.5428 1.5625 18.75 1.5625H19.5312C20.1529 1.5625 20.749 1.80943 21.1885 2.24897C21.6281 2.68851 21.875 3.28465 21.875 3.90625V22.6562C21.875 23.2779 21.6281 23.874 21.1885 24.3135C20.749 24.7531 20.1529 25 19.5312 25H5.46875C4.84715 25 4.25101 24.7531 3.81147 24.3135C3.37193 23.874 3.125 23.2779 3.125 22.6562V3.90625C3.125 3.28465 3.37193 2.68851 3.81147 2.24897C4.25101 1.80943 4.84715 1.5625 5.46875 1.5625H6.25C6.4572 1.5625 6.65591 1.64481 6.80243 1.79132C6.94894 1.93784 7.03125 2.13655 7.03125 2.34375C7.03125 2.55095 6.94894 2.74966 6.80243 2.89618C6.65591 3.04269 6.4572 3.125 6.25 3.125H5.46875Z" fill="black"/>
                        <path d="M15.625 0.78125C15.625 0.57405 15.5427 0.375336 15.3962 0.228823C15.2497 0.08231 15.051 0 14.8438 0L10.1562 0C9.94905 0 9.75034 0.08231 9.60382 0.228823C9.45731 0.375336 9.375 0.57405 9.375 0.78125C9.375 0.98845 9.29269 1.18716 9.14618 1.33368C8.99966 1.48019 8.80095 1.5625 8.59375 1.5625C8.38655 1.5625 8.18784 1.64481 8.04132 1.79132C7.89481 1.93784 7.8125 2.13655 7.8125 2.34375V3.125C7.8125 3.3322 7.89481 3.53091 8.04132 3.67743C8.18784 3.82394 8.38655 3.90625 8.59375 3.90625H16.4062C16.6135 3.90625 16.8122 3.82394 16.9587 3.67743C17.1052 3.53091 17.1875 3.3322 17.1875 3.125V2.34375C17.1875 2.13655 17.1052 1.93784 16.9587 1.79132C16.8122 1.64481 16.6135 1.5625 16.4062 1.5625C16.199 1.5625 16.0003 1.48019 15.8538 1.33368C15.7073 1.18716 15.625 0.98845 15.625 0.78125V0.78125Z" fill="black"/>
                        <path d="M13.1855 8.28076L9.65527 18H8.2124L12.2773 7.33594H13.2075L13.1855 8.28076ZM16.1445 18L12.6069 8.28076L12.585 7.33594H13.5151L17.5947 18H16.1445ZM15.9614 14.0522V15.2095H9.97021V14.0522H15.9614Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_46_316">
                            <rect width="25" height="25" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
</div>
</div>

<div class="card-paginator-wrapper">
    <div class="card-paginator">
    <button class="card-paginator-left">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_39_51)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3125 10.5C1.3125 12.9367 2.28047 15.2736 4.00346 16.9965C5.72645 18.7195 8.06332 19.6875 10.5 19.6875C12.9367 19.6875 15.2736 18.7195 16.9965 16.9965C18.7195 15.2736 19.6875 12.9367 19.6875 10.5C19.6875 8.06332 18.7195 5.72645 16.9965 4.00346C15.2736 2.28047 12.9367 1.3125 10.5 1.3125C8.06332 1.3125 5.72645 2.28047 4.00346 4.00346C2.28047 5.72645 1.3125 8.06332 1.3125 10.5ZM21 10.5C21 13.2848 19.8938 15.9555 17.9246 17.9246C15.9555 19.8938 13.2848 21 10.5 21C7.71523 21 5.04451 19.8938 3.07538 17.9246C1.10625 15.9555 0 13.2848 0 10.5C0 7.71523 1.10625 5.04451 3.07538 3.07538C5.04451 1.10625 7.71523 0 10.5 0C13.2848 0 15.9555 1.10625 17.9246 3.07538C19.8938 5.04451 21 7.71523 21 10.5ZM15.0938 9.84375C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H7.49044L10.3084 13.9729C10.3694 14.0339 10.4178 14.1063 10.4508 14.186C10.4838 14.2658 10.5008 14.3512 10.5008 14.4375C10.5008 14.5238 10.4838 14.6092 10.4508 14.689C10.4178 14.7687 10.3694 14.8411 10.3084 14.9021C10.2474 14.9631 10.1749 15.0115 10.0952 15.0446C10.0155 15.0776 9.93004 15.0946 9.84375 15.0946C9.75746 15.0946 9.67202 15.0776 9.5923 15.0446C9.51258 15.0115 9.44014 14.9631 9.37912 14.9021L5.44162 10.9646C5.38051 10.9037 5.33202 10.8312 5.29894 10.7515C5.26586 10.6718 5.24883 10.5863 5.24883 10.5C5.24883 10.4137 5.26586 10.3282 5.29894 10.2485C5.33202 10.1688 5.38051 10.0963 5.44162 10.0354L9.37912 6.09787C9.50235 5.97465 9.66948 5.90542 9.84375 5.90542C10.018 5.90542 10.1851 5.97465 10.3084 6.09787C10.4316 6.2211 10.5008 6.38823 10.5008 6.5625C10.5008 6.73677 10.4316 6.9039 10.3084 7.02713L7.49044 9.84375H15.0938Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_39_51">
                    <rect width="21" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>

    </button>
    <button class="card-paginator-circle"></button>
    <button class="card-paginator-right">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_39_49)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3125 10.5C1.3125 12.9367 2.28047 15.2736 4.00346 16.9965C5.72645 18.7195 8.06332 19.6875 10.5 19.6875C12.9367 19.6875 15.2736 18.7195 16.9965 16.9965C18.7195 15.2736 19.6875 12.9367 19.6875 10.5C19.6875 8.06332 18.7195 5.72645 16.9965 4.00346C15.2736 2.28047 12.9367 1.3125 10.5 1.3125C8.06332 1.3125 5.72645 2.28047 4.00346 4.00346C2.28047 5.72645 1.3125 8.06332 1.3125 10.5ZM21 10.5C21 13.2848 19.8938 15.9555 17.9246 17.9246C15.9555 19.8938 13.2848 21 10.5 21C7.71523 21 5.04451 19.8938 3.07538 17.9246C1.10625 15.9555 0 13.2848 0 10.5C0 7.71523 1.10625 5.04451 3.07538 3.07538C5.04451 1.10625 7.71523 0 10.5 0C13.2848 0 15.9555 1.10625 17.9246 3.07538C19.8938 5.04451 21 7.71523 21 10.5ZM5.90625 9.84375C5.7322 9.84375 5.56528 9.91289 5.44221 10.036C5.31914 10.159 5.25 10.326 5.25 10.5C5.25 10.674 5.31914 10.841 5.44221 10.964C5.56528 11.0871 5.7322 11.1562 5.90625 11.1562H13.5096L10.6916 13.9729C10.6306 14.0339 10.5822 14.1063 10.5492 14.186C10.5162 14.2658 10.4992 14.3512 10.4992 14.4375C10.4992 14.5238 10.5162 14.6092 10.5492 14.689C10.5822 14.7687 10.6306 14.8411 10.6916 14.9021C10.7526 14.9631 10.8251 15.0115 10.9048 15.0446C10.9845 15.0776 11.07 15.0946 11.1562 15.0946C11.2425 15.0946 11.328 15.0776 11.4077 15.0446C11.4874 15.0115 11.5599 14.9631 11.6209 14.9021L15.5584 10.9646C15.6195 10.9037 15.668 10.8312 15.7011 10.7515C15.7341 10.6718 15.7512 10.5863 15.7512 10.5C15.7512 10.4137 15.7341 10.3282 15.7011 10.2485C15.668 10.1688 15.6195 10.0963 15.5584 10.0354L11.6209 6.09787C11.5599 6.03686 11.4874 5.98846 11.4077 5.95544C11.328 5.92242 11.2425 5.90542 11.1562 5.90542C11.07 5.90542 10.9845 5.92242 10.9048 5.95544C10.8251 5.98846 10.7526 6.03686 10.6916 6.09787C10.6306 6.15889 10.5822 6.23133 10.5492 6.31105C10.5162 6.39077 10.4992 6.47621 10.4992 6.5625C10.4992 6.64879 10.5162 6.73423 10.5492 6.81395C10.5822 6.89367 10.6306 6.96611 10.6916 7.02713L13.5096 9.84375H5.90625Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_39_49">
                    <rect width="21" height="21" fill="white"/>
                </clipPath>
            </defs>
        </svg>

    </button>
    </div>
</div>